.CommentForm {
    background-color: #14245C;
    color: white;
    display: flex;
    justify-content: center;
    padding: .5em;
}

.CommentForm .inner-content {
    max-width: 1600px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.CommentForm h2 {
    margin: 0;
    margin-top: 1em;
}

.CommentForm form {
    color: white;
}

.CommentForm .comment {
    background-color: white;
    color: #14245C;
    padding: .1em 1em;
    margin: .5em 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CommentForm .comment .profile-placeholder {
    width: 2em;
    height: 2em;
    border-radius: 999px;
    background-color: #14245C;
    margin-right: 1em;
}

